.header {
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding-bottom: 4px;
    align-items: center;

    &__grid {
        display: grid;
        padding: 0 30px 14px 30px;
        grid-template-columns: repeat(12, 1fr);
        max-width: 1340px;
        width: 100%;
        gap: 30px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 50px;
            z-index: 1;
            background-color: var(--lightgrey);
        }
    }

    &__span {
        grid-column: 1/3;
        padding: 14px 0 0 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        z-index: 1001;
        color: var(--orange);

        &-ico {
            width: 143px;
            height: 22px;
            vertical-align: middle;
            color: var(--orange);
            transition: color var(--time);
        }

        &-link {
            position: relative;
            color: var(--orange);
            outline: none;
            z-index: 1002;
            transition-property: color;
            transition-duration: var(--time);

            &::before {
                content: "";
                position: absolute;
                width: calc(100% + 25px);
                height: 24px;
                top: -2px;
                left: -5px;
                padding: 5px 10px;
                z-index: -6;
                background-color: transparent;
                transition: background-color var(--time);
            }
        }
    }

    &__list {
        grid-column: 3/13;
        display: flex;
        justify-content: flex-end;
        gap: 65px;
        padding: 18px 0;
        z-index: 999;
        color: var(--darkgrey);
    }

    &__item {
        position: relative;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
    }

    &__logo {
        grid-column: 1/3;
        outline-color: transparent;
        transition: outline-color var(--time);
    }

    &__input {
        position: relative;
        padding: 20px 64px 20px 57px;
        width: 100%;
        color: var(--darkgrey);
        border: 2px solid transparent;
        border-radius: 10px;
        background-color: var(--lightgrey);
        background-repeat: no-repeat;
        background-position: 30px 18px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.8187 16.0625L14.607 13.3156C15.5516 12.0945 16.0625 10.6016 16.0625 9.03125C16.0625 7.15156 15.3289 5.38906 14.0023 4.06016C12.6758 2.73125 10.9086 2 9.03125 2C7.15391 2 5.38672 2.73359 4.06016 4.06016C2.73125 5.38672 2 7.15156 2 9.03125C2 10.9086 2.73359 12.6758 4.06016 14.0023C5.38672 15.3312 7.15156 16.0625 9.03125 16.0625C10.6016 16.0625 12.0922 15.5516 13.3133 14.6094L16.5249 17.3539C16.5428 17.3718 16.564 17.3859 16.5873 17.3956C16.6106 17.4053 16.6356 17.4102 16.6609 17.4102C16.6861 17.4102 16.7111 17.4053 16.7344 17.3956C16.7578 17.3859 16.7789 17.3718 16.7968 17.3539L17.8187 16.3344C17.8365 16.3165 17.8507 16.2953 17.8604 16.272C17.87 16.2487 17.875 16.2237 17.875 16.1984C17.875 16.1732 17.87 16.1482 17.8604 16.1249C17.8507 16.1015 17.8365 16.0803 17.8187 16.0625ZM12.7438 12.7438C11.75 13.7352 10.4328 14.2812 9.03125 14.2812C7.62969 14.2812 6.3125 13.7352 5.31875 12.7438C4.32734 11.75 3.78125 10.4328 3.78125 9.03125C3.78125 7.62969 4.32734 6.31016 5.31875 5.31875C6.3125 4.32734 7.62969 3.78125 9.03125 3.78125C10.4328 3.78125 11.7523 4.325 12.7438 5.31875C13.7352 6.3125 14.2812 7.62969 14.2812 9.03125C14.2812 10.4328 13.7352 11.7523 12.7438 12.7438Z' fill='%23999999'/%3E%3C/svg%3E");
        transition-property: background-color, background-image, border-color;
        transition-duration: var(--time);
        outline: none;

        &-btn {
            position: absolute;
            padding-top: 33px;
            width: 36px;
            top: 16px;
            right: 28px;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_27901_925)'%3E%3Cpath d='M14 11L19 16L14 21' stroke='%23A65CF0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='16' cy='16' r='15' stroke='%23A65CF0' stroke-width='2'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_27901_925'%3E%3Crect width='32' height='32' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            transition-property: background-image;
            transition: background-image var(--time);
            outline: none;
        }
    }

    &__seach {
        display: flex;
        grid-column: 1/11;
        justify-content: space-between;
        flex-wrap: wrap;

        &-block {
            position: relative;
            width: 100%;
        }
    }

    &__block {
        grid-column: 11/13;
        position: relative;
        padding-top: 2px;
        display: flex;
        justify-content: flex-end;
        color: var(--purpur);

        &::before {
            content: "0";
            position: absolute;
            top: 25px;
            right: 31px;
            color: var(--white);
            font-size: 10px;
            font-weight: 700;
        }
    }

    &__btn {
        width: 41px;
        color: var(--purpur);
        height: 52px;
        outline: none;
        background-color:transparent;
        cursor: pointer;        
        transition-property: background-color;
        transition-duration: var(--time);

        &:not(:last-child) {
            margin-right: 28px;
        }
    }

    &__user {
        color: var(--purpur);
        padding: 14px 10px 9px;
        width: 49px;
        outline: none;
        transition-property: background-color, color;
        transition-duration: var(--time);
    }


    &__button {
        color: var(--purpur);
        padding: 10px 0 0 0px;
        width: 41px;
        outline: none;
        transition-property: background-color, color;
        transition-duration: var(--time);
    }

    &__link {
        position: relative;
        outline: none;
        transition: color var(--time);
        z-index: 1000;

        &::before {
            content: "";
            position: absolute;
            width: calc(100% + 10px);
            height: 24px;
            top: -2px;
            left: -5px;
            padding: 5px 10px;
            z-index: -5;
            background-color: transparent;
            transition: background-color var(--time);
        }
    }

    &__nav {
        grid-column: 3/13;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        gap: 92px;

        &-item {
            position: relative;
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            color: var(--black);

        }

        &-link {
            outline: none;
            transition: color var(--time);
            z-index: 108;

            &::before {
                content: "";
                position: absolute;
                width: calc(100% + 10px);
                height: 30px;
                top: -5px;
                left: -5px;
                padding: 5px 10px;
                z-index: -8;
                background-color: transparent;
                transition-property: background-color;
                transition-duration: var(--time);
            }
        }
    }

}



@media (max-width: 1200px) {
    .header {
        &__span {
            grid-column: 1/6;
            padding: 18px 0 10px 0px;
            background-position: 0px 18px;
        }

        &__list {
            grid-column: 1/11;
            justify-content: flex-start;
            padding: 26px 0 20px 0;
            gap: 64px;
        }

        &__block {
            order: 1;
            grid-column: 11/13;
            z-index: 1002;
            padding-top: 9px;
            align-items: center;

            &::before {
                top: 28px;
            }
        }

        &__logo {
            display: flex;
            align-items: center;
            order: 2;
            grid-column: 1/4;
        }

        &__nav {
            order: 2;
            grid-column: 4/13;
            gap: 42px;
            padding: 34px 0 36px;
        }

        &__seach {
            order: 2;
            max-width: 733px;
            width: 100%;
        }

        &__grid {
            padding: 0 36px;
            row-gap: 0px;

            &::before {
                content: "";
                position: absolute;
                top: 58px;
                left: 0;
            }
        }

        &__user {
            margin-top: 0;
            padding: 10px 10px 9px
        }

        &__button {
            padding: 4px 0 0;
        }

    }
}

@media (max-width: 1018px) {
    .header {
        &__span {
            padding: 18px 0 10px 0px;
            background-position: 1px 18px;
        }

        &__list {
            grid-column: 1/13;
            gap: 36px;
        }

        &__block {
            order: 2;
            grid-column: 7/13;
            padding-top: 0;

            &::before {
                top: 38px;
                right: 31px;
            }
        }

        &__logo {
            padding: 32px 0;
            grid-column: 1/5;
        }

        &__nav {
            display: flex;
            gap: 0;
            justify-content: space-between;
            order: 3;
            grid-column: 1/13;
            padding: 0 0 33px 0;

            &__item {
                font-size: 14px;
            }
        }

        &__seach {
            order: 3;
            max-width: 882px;
            grid-column: 1/13;
        }

        &__grid {
            padding: 0 70px;

            &::before {
                top: 59px;
            }
        }
    }


}

@media (max-width: 766px) {
    .header {
        &__span {
            order: 1;
            grid-column: 1/7;
            margin-top: 15px;
            padding: 18px 0 0;
        }

        &__list {
            display: none;
        }

        &__block {
            grid-column: 7/13;
            order: 1;
            margin-top: 20px;

            &::before {
                top: 16px;
            }
        }

        &__logo {
            position: relative;
            justify-content: center;
            grid-column: 1/13;
            order: -1;
            z-index: 1004;
            padding: 10px 0;

            &::before {
                position: absolute;
                content: "";
                left: -12px;
                bottom: -70px;
                width: calc(100% + 24px);
                border-bottom: 1px solid var(--lightgrey);
            }

            &::after {
                position: absolute;
                content: "";
                left: -12px;
                bottom: -20px;
                width: calc(100% + 24px);
                border-bottom: 1px solid var(--lightgrey);
            }
        }

        &__nav {
            padding: 22px 0 17px 0;
            gap: 30px;
            overflow: auto;

            &__item {
                gap: 30px;
            }
        }

        &__seach {
            order: 3;
            max-width: 742px;
            grid-column: 1/13;
        }

        &__grid {
            max-width: 742px;
            width: 100%;
            padding: 0 12px;
            column-gap: 0;

            &::before {
                top: 0px;
            }
        }

        &__btn {
            height: 42px;
        }

        &__user {
            padding-top: 10px;
        }

        &__button {
            padding-top: 3px;
        }
    }


}